body, html {padding:0 10px; background-color:#f5f5f5;}
main {
    max-width:420px; min-width:320px; margin:30px auto 0;
    text-align:center;
    padding:50px 20px;
    border:1px solid red;
    background-image:url(https://i.pinimg.com/736x/bd/c5/95/bdc595f80e10ae4ef3c25010b7c6ef28.jpg);
    
}
main h1 {font-size:2.5rem; font-weight:700;}
main p {font-size:1.75rem; margin:20px 0;}
main .info {}
main .info li {border:1px solid red; margin-bottom:25px;}
main .info li span {font-weight:500; font-size:1.5rem;}
main .info li input {}
main .info #result_btn {}
main .info #result {}