body, html {scroll-behavior:smooth;}
main {
    background:aqua;
    width:995px; margin:0 auto;
}
main .path {margin-bottom:26px;}
main section {
    display:grid;
    grid-template-columns:630px 341px;
    justify-content:space-between;
}
main section .left_thumnail {
    background:yellow;
    display:flex;
}
main section .left_thumnail .small {}
main section .left_thumnail .small a {
    width:56px; height:56px; display:block;
    overflow:hidden;
    border-radius:5px; margin-bottom:10px;
}
main section .left_thumnail .small a img {}
main section .left_thumnail .big {
    width:calc(100% - (15px + 15px));
    margin-left:15px;
}
main section .left_thumnail .big img {width:100%; border-radius:5px;}
main section .right_order {background:lime;}
main section .right_order > * {margin-bottom:25px; background:yellow;}
main section .right_order .brand {}
main section .right_order h1 {}
main section .right_order .review {}
main section .right_order .review .score {}
main section .right_order .review .score em {}
main section .right_order .review .num {}
main section .right_order .sale_price {}
main section .right_order .sale_price em {}
main section .right_order .sale_price del {}
main section .right_order > .price {}
main section .right_order > .price em {}
main section .right_order .benefit_delivery {overflow:hidden;}
main section .right_order .benefit_delivery dt {
    width:80px; background:pink;
    float:left;
}
main section .right_order .benefit_delivery dd {
    width:calc(100% - 80px); background:aqua;
    float:right;
}
main section .right_order .benefit_delivery dd em {}
main section .right_order .product_option {
    display:flex; flex-flow:column nowrap;
}
main section .right_order .product_option > * {
    line-height:44px; padding-left:17px;
    border:1px solid #aaa;
    border-radius:5px;
    outline:none;
    font-size:0.875rem;
}
main section .right_order .product_option select[name=color] {}
main section .right_order .product_option select[name=color] option {}
main section .right_order .product_option select[name=size] {}
main section .right_order .product_option select[name=size] option {}
main section .right_order .order_select {background:#fff;}
main section .right_order .order_select .list {}
main section .right_order .order_select .list em {}
main section .right_order .order_select .close {}
main section .right_order .order_select .order_num {}
main section .right_order .order_select .order_num #minus {}
main section .right_order .order_select .order_num input {}
main section .right_order .order_select .order_num #plus {}
main section .right_order .order_select > .price {}
main section .right_order .total {}
main section .right_order .total p {}
main section .right_order .total .price {}
main section .right_order .total .price em {}
main section .right_order .btn_group {display:flex; justify-content:space-between;}
main section .right_order .btn_group * {
    line-height:57px; width:165.5px;
    border:1px solid #59afff;
    border-radius:5px;
    font-size:1.063rem;
}
main section .right_order .btn_group #cart_btn {
    background-color:#fff;
    color:#59afff;
}
main section .right_order .btn_group #buy_btn {
    background-color:#59afff;
    color:#fff;
}
main #info {height:100vh;}
main #review {height:100vh; background:yellow;}
main #board {height:100vh;}